<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
    <title> Title </title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="container-fluid vh-100">
        <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>